*{
    margin: 0;
    border: 0;
    box-sizing: border-box; 
}
 
html {
    font-size: 62.5%;
}
 
body {
    background-size: 100% 115%;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}
 
.estructuraImagen {
    column-gap: 10%;
    margin: 2.5%;
    border: 3px solid white;
    padding: 20px;
    border-radius: 10px;
    background: rgba(108, 122, 137, .8);
}
 
.contenedorOpciones {
    background-color: aqua;
}
 
#solicitudDeDatos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 
.preguntas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 
.formulario {
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    margin: 48px;
    opacity: 70%;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}
 
.formulario label {
    color: azure;
}
 
.boton {
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 185px;
    height: 55px;
    border-radius: 20px;
    font-size: 2.3rem;
    justify-content: center;
}
 
.estiloSeccionActividad {
    display: flex;
    flex-direction: column;
}
 
#contenedorOpciones input {
    display: none;
}
 
.titulo {
    display: flex;
    font-size: 4.3rem;
    color: snow;
    margin: 10px;
    justify-content: center;
}
 
.subtitulo {
    font-size: 3.3rem;
    color: snow;
    margin: 10px;
    display: flex;
    justify-content: center;
}
 
.estiloTarea {
    display: flex;
    width: 215px;
    height: 95px;
    background: #256D85;
    padding: 25px;
    box-sizing: border-box;
    border: 2px solid black;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    font-size: 2.3rem;
    margin: 15px;
    color: snow
}
 
input:checked + label{
    background-color: skyblue;
}
 
#seccionPortada {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;   
    margin: 5%;
}
 
.logo {
    position: absolute;
    right: 181px;
    top: 20px;
    width: 225px;
    height: 122px;
    border-radius: 10px;
}
 
ol {
    background-color: #1da7c9;
    border-radius: 5px;
    margin-top: 3px;
}
 
li.estiloEquipo {
    background-color: #146c86;
    color: #121723;
    border-radius: 5px;
    list-style: none;
    
}
 
a{
    text-decoration: none;
}
 
figcaption {
    background-color: #1da7c9;
    color: black;
    border-radius: 31.5px;
    margin: 3px;
    justify-content: center;
    display: flex;
}
 
.imagen {
    border-radius: 30px;
    margin: 15px;
}
 
figure div {
    font-size: 1.8rem;
}
 
.estilosAreas {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
 
@media (max-width: 880px){
    .logo {
        position: absolute;
        top: 65%;
        left: 13%;
    }
    body {
       /*  background-size: 100% 100%; */
        background-repeat: no-repeat;
        margin: 0;
       /*  height: 100%; */
        width: 100%;
    }
   /*  .estilosAreas {
        display:flex;
        flex-direction: column;
        align-items: center;
    } */
}